button {
  font-family: 'Source Sans 3', sans-serif;
  border: 0;
  background: 0;
  padding: 0;
  -webkit-appearance: none;
  font-size: 18px;
  display: flex;
  cursor: pointer;
  color: var(--bodyColor);
}

.alert-buttons button,
a.button,
.button {
  background-color: var(--buttonBgColor);
  border-radius: 50px;
  padding: 4px 14px;
  color: var(--buttonColor);
  position: relative;
  transition: background-color 0.2s;
  font-size: 16px;
  text-decoration: none;
  width: max-content;
  svg {
    margin-right: 5px;
    width: 22px;
    height: 22px;
    stroke: var(--buttonColor);
  }
  &:hover {
    background-color: var(--buttonBgHoverColor);
  }
  &:focus {
    outline: 0;
    box-shadow: 0 0 0 2px var(--highlightColor);
  }
}

a.button--submit-score {
  padding-left: 5px;
  letter-spacing: -0.02em;
  svg:hover {
    stroke: var(--buttonColor);
  }
  @media (max-width: 479px) {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    padding: 15px;
    svg {
      margin-right: 0;
      width: 35px;
      height: 35px;
    }
    span {
      /* TODO visually hide */
      display: none;
    }
  }
}

.alert-buttons {
  display: flex;
  margin-top: 15px;
  & > *:not(:first-child) {
    margin-left: 15px;
  }
}

.nav-button {
  display: flex;
  border-radius: 50px;
  align-items: center;
  font-size: 0.75em;
  margin-right: 0;
  padding: 4px;
  &:focus {
    outline: none;
  }
  &:focus,
  &:active {
    background-color: rgba(0, 0, 0, 0.15);
  }
  @media (min-width: 500px) {
    font-size: 0.85em;
    padding: 4px 8px 5px;
  }
}

.nav-button + .profile-group,
.nav-button + .nav-button {
  margin-right: 0;
  margin-left: 7px;
  @media (min-width: 500px) {
    margin-left: 10px;
  }
}

.header button {
  border-radius: 22px;
  box-sizing: content-box;
  transition: background-color 0.4s, color 0.3s;
}

.ghost-button {
  border-radius: 5px;
  border: 1px solid var(--bodyColor);
  background: var(--background-color);
  padding: 4px 10px 5px;
  &:hover {
    color: var(--background-color);
    background: var(--bodyColor);
  }
}
