/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/source-sans-3-cyrillic-ext-400.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/source-sans-3-cyrillic-400.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/source-sans-3-greek-ext-400.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/source-sans-3-greek-400.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/source-sans-3-vietnamese-400.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/source-sans-3-latin-ext-400.woff2') format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/source-sans-3-latin-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/source-sans-3-cyrillic-ext-600.woff2') format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/source-sans-3-cyrillic-600.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/source-sans-3-greek-ext-600.woff2') format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/source-sans-3-greek-600.woff2') format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/source-sans-3-vietnamese-600.woff2') format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/source-sans-3-latin-ext-600.woff2') format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Source Sans 3';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/source-sans-3-latin-600.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'M PLUS 1p';
  font-style: normal;
  font-weight: 700;
  src: local('M PLUS 1p Bold'), local('MPLUS1p-Bold'),
    url('../fonts/m-plus-1p-v19-japanese-700.woff2') format('woff2'),
    url('../fonts/m-plus-1p-v19-japanese-700.woff') format('woff');
  font-display: swap;
}

:root {
  --reach-dialog: 1;
  --reach-menu-button: 1;
  --reach-tooltip: 1;

  /* theme */
  --bodyColor: #0b3538;
  --highlightColor: #4caf50;
  // --linkColor: #1b95e0;
  --linkColor: #4caf50;
  --dimBodyColor: #b7b7b7;
  --mediumBodyColor: #8e8e8e;
  --borderColor: #e8e8e8;
  --borderColorHover: #b3afaf;
  --body-background: #f7f7f8;
  --background-color: #ffffff;
  --notification-color: #f44336;
  --buttonBgColor: #c8e6c9;
  --buttonBgHoverColor: #a7d2a9;
  --buttonColor: #1b5e20;
  --input-background: #fafafa;
  --green: #4caf50;
  --outlineColor: #008dff;
  --buttonBackground: rgba(0, 0, 0, 0.1);
  --borderColorDim: #d9d9d9;

  --tag-colored-fg: rgba(0, 0, 0, 0.85);
  --tag-green: #b2e58b;
  --tag-red: #f37370;
  --tag-blue: #8dcff8;

  /* type scale */
  --ts-0: 12px;
  --ts-1: 14px;
  --ts-2: 16px;
  --ts-3: 18px;
  --ts-4: 20px;
  --ts-5: 24px;
  --ts-6: 30px;
  --ts-7: 36px;
  --ts-8: 48px;
  --ts-9: 60px;
  --ts-10: 72px;
}

.dark-theme {
  --bodyColor: #f7f9fc;
  --highlightColor: #8bc34a;
  // --linkColor: #1b95e0;
  --linkColor: #8bc34a;
  --dimBodyColor: #b7b7b7;
  --mediumBodyColor: #8e8e8e;
  --borderColor: #212121;
  --borderColorHover: #86838e;
  --body-background: #2f2f35;
  --background-color: #3b3b42;
  --notification-color: #f44336;
  --buttonBgColor: #4c683a;
  --buttonBgHoverColor: #619043;
  --buttonColor: #f1f8e9;
  --input-background: #37373e;
  --green: #8bc34a;
  --outlineColor: #008dff;
  --buttonBackground: rgba(255, 255, 255, 0.1);
  --borderColorDim: #1c1c1c;

  --tag-colored-fg: rgba(0, 0, 0, 0.85);
  --tag-green: var(--green);
  --tag-red: #f37370;
  --tag-blue: #8dcff8;
}

.carnival-theme {
  --bodyColor: #f7f9fc;
  --highlightColor: #d32029;
  --linkColor: #d32029;
  --dimBodyColor: #b7b7b7;
  --mediumBodyColor: #8e8e8e;
  --borderColor: #212121;
  --borderColorHover: #86838e;
  --body-background: #181818;
  --background-color: #282828;
  --notification-color: #f44336;
  --buttonBgColor: #791a1f;
  --buttonBgHoverColor: #d32029;
  --buttonColor: #f1f8e9;
  --input-background: #323232;
  --green: #8bc34a;
  --outlineColor: #d32029;
  --buttonBackground: rgba(255, 255, 255, 0.1);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  color: var(--bodyColor);
  background: var(--body-background);
  font-size: var(--ts-3);
  font-family: 'Source Sans 3', sans-serif;
  margin: 0;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum';
}

a {
  // color: var(--linkColor);
  text-decoration: none;
  color: var(--bodyColor);
  &:hover {
    // color: var(--highlightColor);
    text-decoration: underline;
    cursor: pointer;
  }
  // &:hover {
  //   color: var(--highlightColor);
  //   text-decoration: underline;
  // }
}

[role='link'] {
  cursor: pointer;
}

img {
  vertical-align: middle;
}

h1 {
  font-size: var(--ts-5);
}

h3 {
  font-weight: 600;
  margin-bottom: 0.5em;
}

p {
  margin-top: 0;
}

.quote {
  margin-top: 1em;
  margin-bottom: 1em;
}

q,
blockquote {
  font-style: italic;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

// TODO Manage focus
button:focus {
  outline: 0;
}

.jp {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 700;
  font-size: 19px;
}

.main {
  --main-padding: 0;
  margin: 10px auto;
  max-width: 1092px;
  padding: 0 var(--main-padding);
  @media (max-width: 499px) {
    .nav-popover-active & {
      display: none;
    }
  }
  @media (min-width: 650px) {
    margin: 40px auto;
    --main-padding: 40px;
  }
}

.activity {
  grid-area: activity;
  display: grid;
  gap: 15px;
}

.activity-item {
  background: var(--background-color);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  overflow: hidden;
  text-decoration: none;
  &:hover {
    color: var(--bodyColor);
  }
  a {
    text-decoration-color: var(--linkColor);
  }
  b {
    font-weight: 600;
  }
  h4 {
    margin: 0;
  }
  div + .player-score {
    border-top: 1px solid var(--borderColor);
    padding-top: 4px;
  }
  button {
    text-decoration: underline;
    &:hover {
      color: var(--highlightColor);
    }
  }
}

.activity-item__top {
  display: grid;
  gap: 10px;
  padding: 15px;
}

.activity__more {
  display: inline;
  font-weight: 600;
}

.activity__delta {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 5px;
  padding: 15px;
  background: #f1f1f3;
  /*
  border-top: 1px solid var(--borderColor);
  */
  .dark-theme & {
    background: #43434a;
  }
}

.activity-item__passed {
  font-size: var(--ts-2);
}

.push-right {
  margin-left: auto;
}

.green {
  color: var(--green);
}

.highlight {
  color: var(--highlightColor);
}

.list-bare {
  margin: 0;
  padding: 0;
  list-style: none;
}

.error {
  h2 {
    font-size: var(--ts-8);
    line-height: 1;
  }
}
.error__img {
  height: 150px;
  max-width: 100%;
  margin-top: -80px;
}

/* form.css */
textarea,
input:not([type='radio']) {
  font-family: 'Source Sans 3', sans-serif;
  font-size: var(--ts-2);
  color: var(--bodyColor);
  background: var(--input-background);
  border: 1px solid var(--borderColor);
  padding: 4px 8px 4px 8px;
  -webkit-appearance: none;
  border-radius: 5px;
  width: 100%;
  &:hover {
    box-shadow: 0 0 0 1px var(--highlightColor);
  }
  &:focus {
    box-shadow: 0 0 0 2px var(--highlightColor);
    outline: none;
  }
  &:read-only {
    color: var(--dimBodyColor);
    background: var(--borderColor);
  }
}
label {
  margin-bottom: 5px;
  display: inline-block;
}

.text-field--error {
  border-color: red;
}
input[type='checkbox'] {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    display: flex;
    user-select: none;
  }

  & + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border: 1px solid var(--highlightColor);
    flex-shrink: 0;
  }

  &:focus + label:before {
    box-shadow: 0px 0px 1px 1px var(--highlightColor);
    outline: 0;
  }

  &:hover:not(:checked) + label:before {
    background: var(--highlightColor);
    opacity: 0.5;
  }

  &:checked + label:before {
    background: var(--highlightColor);
  }

  &:disabled + label {
    color: var(--dimBodyColor);
    cursor: auto;
  }

  &:disabled + label:before {
    box-shadow: none;
    border: 1px solid var(--dimBodyColor);
  }
  &:checked:disabled + label:before {
    background: var(--dimBodyColor);
  }

  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: var(--background-color);
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 var(--background-color), 4px 0 0 var(--background-color),
      4px -2px 0 var(--background-color), 4px -4px 0 var(--background-color),
      4px -6px 0 var(--background-color), 4px -8px 0 var(--background-color);
    transform: rotate(45deg);
  }
}

@keyframes spinner {
  0% {
    transform: translateZ(-100px) rotateY(-180deg);
  }
  10% {
    transform: translateZ(-100px) rotateY(-180deg) rotateX(-90deg);
  }
  20% {
    transform: translateZ(-100px) rotateY(-90deg) rotateX(-90deg);
  }
  30% {
    transform: translateZ(-100px) rotateY(0deg) rotateX(0deg) rotateZ(-90deg);
  }
  40% {
    transform: translateZ(-100px) rotateY(90deg) rotateX(0deg) rotateZ(-90deg);
  }
  50% {
    transform: translateZ(-100px) rotateY(90deg) rotateX(0deg) rotateZ(-180deg);
  }
  60% {
    transform: translateZ(-100px) rotateY(180deg) rotateX(0deg) rotateZ(-180deg);
  }
  70% {
    transform: translateZ(-100px) rotateY(180deg) rotateX(90deg)
      rotateZ(-180deg);
  }
  80% {
    transform: translateZ(-100px) rotateY(180deg) rotateX(90deg) rotateZ(-90deg);
  }
  90% {
    transform: translateZ(-100px) rotateY(180deg) rotateX(90deg) rotateZ(0deg);
  }
  100% {
    transform: translateZ(-100px) rotateY(180deg) rotateX(0deg) rotateZ(0deg);
  }
}

/* -------------------- framework? -------------------- */
.hidden {
  display: none;
}

.pack {
  display: flex;
}

.pack-inline {
  display: inline-flex;
}

.pack--column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-gap-1 {
  > :not(:last-child) {
    margin-right: 0.5em;
  }
}

.flex-gap-column-1 {
  > :not(:last-child) {
    margin-bottom: 0.5em;
  }
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-gap-1 {
  & > * {
    margin-bottom: 0.5em;
  }
}

.no-select {
  user-select: none;
}

.dim {
  color: var(--dimBodyColor);
}

.breadcrumb-arrow {
  width: 0.888em;
  vertical-align: -3px;
  fill: #5d666f;
  .dark-theme & {
    fill: #a7abae;
  }
}

.category-links {
  // a {
  //   touch-action: manipulation; // TODO Needed?
  //   background: var(--buttonBackground);
  //   height: 36px;
  //   border-radius: 6px;
  //   padding-left: 16px;
  //   padding-right: 16px;
  //   display: inline-flex;
  //   align-items: center;
  //   position: relative;
  //   overflow: hidden;
  //   font-weight: bold;
  //   letter-spacing: 0.02em;
  //   &:not(:last-child) {
  //     margin-right: 8px;
  //   }
  //   &:hover {
  //     color: var(--bodyColor);
  //     text-decoration: none;
  //   }
  //   &:after {
  //     content: '';
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     right: 0;
  //     bottom: 0;
  //     background: var(--buttonBackground);
  //     opacity: 0;
  //     transition-property: opacity;
  //     transition-duration: 0.1s;
  //     transition-timing-function: cubic-bezier(0, 0, 1, 1);
  //   }
  //   &:hover:after {
  //     opacity: 1;
  //   }
  // }
}

.card {
  border-radius: 6px;
  background: var(--background-color);
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.v-centered {
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
}

.underline {
  text-decoration: underline;
}

.ml-auto {
  margin-left: auto;
}

.ml-1 {
  & > * {
    margin-left: 0.25em;
  }
}

.ml-2 {
  & > * {
    margin-left: 0.5em;
  }
}

.ml-3 {
  & > * {
    margin-left: 1em;
  }
}

.min-w-1-3 {
  min-width: 33%;
}
